<!DOCTYPE html>
<!--
 * A Design by GraphBerry
 * Author: GraphBerry
 * Author URL: http://graphberry.com
 * License: http://graphberry.com/pages/license
-->
<html lang="en">
    
    <head>
        <meta charset=utf-8>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SDP Soluciones Diesel Parts</title>
        <!-- Load Roboto font -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <!-- Load css styles -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="css/pluton.css" />
        <!--[if IE 7]>
            <link rel="stylesheet" type="text/css" href="css/pluton-ie7.css" />
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="css/jquery.cslider.css" />
        <link rel="stylesheet" type="text/css" href="css/jquery.bxslider.css" />
        <link rel="stylesheet" type="text/css" href="css/animate.css" />
        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72.png">
        <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57.png">
        <link rel="shortcut icon" href="images/ico/favicon.ico">
    </head>
    
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a href="#" class="brand">
                        <img src="images/logo.png" width="120" height="40" alt="Logo" />
                        <!-- This is website logo -->
                    </a>
                    <!-- Navigation button, visible on small resolution -->
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <i class="icon-menu"></i>
                    </button>
                    <!-- Main navigation -->
                    <div class="nav-collapse collapse pull-right">
                        <ul class="nav" id="top-navigation">
                            <li class="active"><a href="#home">Inicio</a></li>
                            <li><a href="#service">Servicios</a></li>
                            <li><a href="#portfolio">Catalogo</a></li>
                            <li><a href="#about">Nosotros</a></li>
                            <li><a href="#clients">Proveedores</a></li>
                            <li><a href="#contact">Ubicanos</a></li>
                        </ul>
                    </div>
                    <!-- End main navigation -->
                </div>
            </div>
        </div>
        <!-- Start home section -->
        <div id="home">
            <!-- Start cSlider -->
            <div id="da-slider" class="da-slider">
                <div class="triangle"></div>
                <!-- mask elemet use for masking background image -->
                <div class="mask"></div>
                <!-- All slides centred in container element -->
                <div class="container">
                    <!-- Start first slide -->
                    <div class="da-slide">
                        <h2 class="fittext2">Repuestos</h2>
                        <h4>Calidad & Confianza</h4>
                        <p>La calidad es una herramienta básica e importante para una propiedad inherente de cualquier cosa que permite que la misma sea comparada con cualquier otra de su misma especie. La palabra calidad tiene múltiples significados. De forma básica. </p>
                        <a href="#" class="da-link button">VER MÁS</a>
                        <div class="da-img">
                            <img src="images/Slider01.png" alt="image01" width="320">
                        </div>
                    </div>
                    <!-- End first slide -->
                    <!-- Start second slide -->
                    <div class="da-slide">
                        <h2>Escaleras</h2>
                        <h4>LAS MEJORES</h4>
                        <p>Por otro lado, la calidad de un producto o servicio es la percepción que el cliente tiene del mismo, es una fijación mental del consumidor que asume conformidad con dicho producto o servicio y la capacidad del mismo para satisfacer sus necesidades.</p>
                        <a href="#" class="da-link button">VER MÁS</a>
                        <div class="da-img">
                            <img src="images/Slider02.png" width="320" alt="image02">
                        </div>
                    </div>
                    <!-- End second slide -->
                    <!-- Start third slide -->
                    <div class="da-slide">
                        <h2>AUTOPARTES</h2>
                        <h4>CONFIABLES</h4>
                        <p>Por tanto, debe definirse en el contexto que se esté considerando, por ejemplo, la calidad del servicio postal, del servicio dental, del producto, de vida, etc.</p>
                        <a href="#" class="da-link button">VER MÁS</a>
                        <div class="da-img">
                            <img src="images/Slider03.png" width="320" alt="image03">
                        </div>
                    </div>
                    <!-- Start third slide -->
                    <!-- Start cSlide navigation arrows -->
                    <div class="da-arrows">
                        <span class="da-arrows-prev"></span>
                        <span class="da-arrows-next"></span>
                    </div>
                    <!-- End cSlide navigation arrows -->
                </div>
            </div>
        </div>
        <!-- End home section -->
        <!-- Service section start -->
        <div class="section primary-section" id="service">
            <div class="container">
                <!-- Start title section -->
                <div class="title">
                    <h1>NUESTROS SERVICIOS</h1>
                    <!-- Section's title goes here -->
                    <p>Contamos con una amplia variedad de repuestos de Motos de 2 y 3 ruedas que facilitan al cliente 
                        tomar una mejor decisión de compra.   
                    </p>
                    <!--Simple description for section goes here. -->
                </div>
                <div class="row-fluid">
                    <div class="span4">
                        <div class="centered service">
                            <div class="circle-border zoom-in">
                                <img class="img-circle" src="images/Service1.png" alt="service 1">
                            </div>
                            <h3>VENTA AL POR MAYOR</h3>
                            <p>se refleja en el alto volumen de comercialización de repuestos para automóviles y buses</p>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="centered service">
                            <div class="circle-border zoom-in">
                                <img class="img-circle" src="images/Service2.png" alt="service 2" />
                            </div>
                            <h3>REPUESTOS</h3>
                            <p>En 2011 se gastó US$1,100 millones en lubricantes, neumáticos, aros, retenes y otros accesorios de diversas marcas.</p>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="centered service">
                            <div class="circle-border zoom-in">
                                <img class="img-circle" src="images/Service3.png" alt="service 3">
                            </div>
                            <h3>ASESORIA</h3>
                            <p>Para abrir una tienda de repuestos se necesita pedir una licencia al municipio.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service section end -->
        <!-- Portfolio section start -->
        <div class="section secondary-section " id="portfolio">
            <div class="triangle"></div>
            <div class="container">
                <div class=" title">
                    <h1>CATALOGO</h1>
                    <p>Encuentra la mayor variedad de artículos para el mejoramiento del hogar. Además, podrás conocer las últimas novedades, promociones y tips de nuestros colaboradores</p>
                </div>
                <ul class="nav nav-pills">
                    <li class="filter" data-filter="all">
                        <a href="#noAction">TODOS</a>
                    </li>
                    <li class="filter" data-filter="web">
                        <a href="#noAction">SERIE</a>
                    </li>
                    <li class="filter" data-filter="photo">
                        <a href="#noAction">LARGOS</a>
                    </li>
                    <li class="filter" data-filter="identity">
                        <a href="#noAction">EMERGENCIA</a>
                    </li>
                </ul>
                <!-- Start details for portfolio project 1 -->
                <div id="single-project">
                    <div id="slidingDiv" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <img src="images/Portfolio01.png" alt="project 1" />
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Escalera Dinamica 36</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>Marca</span>Italiana</div>
                                    <div>
                                        <span>Medidas</span>155x135cm</div>
                                    <div>
                                        <span>Colores</span>Rojo, Azul y Verde</div>
                                    <div>
                                        <span>Pagina web</span>http://escaleras.com</div>
                                </div>
                                <p>Para lograr que la calidad de los productos y/o servicios prestados por las organizaciones sea la adecuada, éstas recurren a la implantación de la norma ISO 9001</p>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 1 -->
                    <!-- Start details for portfolio project 2 -->
                    <div id="slidingDiv1" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <img src="images/Portfolio02.png" alt="project 2">
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Escalera Dinamica 37</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>Marca</span>Italiana</div>
                                    <div>
                                        <span>Medidas</span>155x135cm</div>
                                    <div>
                                        <span>Colores</span>Rojo, Azul y Verde</div>
                                    <div>
                                        <span>Pagina web</span>http://escaleras.com</div>
                                </div>
                                <p>Para lograr que la calidad de los productos y/o servicios prestados por las organizaciones sea la adecuada, éstas recurren a la implantación de la norma ISO 9001</p>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 2 -->
                    <!-- Start details for portfolio project 3 -->
                    <div id="slidingDiv2" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <img src="images/Portfolio03.png" alt="project 3">
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Escalera Morpho</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>Marca</span>Italiana</div>
                                    <div>
                                        <span>Medidas</span>155x135cm</div>
                                    <div>
                                        <span>Colores</span>Rojo, Azul y Verde</div>
                                    <div>
                                        <span>Pagina web</span>http://escaleras.com</div>
                                </div>
                                <p>Para lograr que la calidad de los productos y/o servicios prestados por las organizaciones sea la adecuada, éstas recurren a la implantación de la norma ISO 9001</p>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 3 -->
                    <!-- Start details for portfolio project 4 -->
                    <div id="slidingDiv3" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <img src="images/Portfolio04.png" alt="project 4">
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Escalera Oniro</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>Marca</span>Italiana</div>
                                    <div>
                                        <span>Medidas</span>155x135cm</div>
                                    <div>
                                        <span>Colores</span>Rojo, Azul y Verde</div>
                                    <div>
                                        <span>Pagina web</span>http://escaleras.com</div>
                                </div>
                                <p>Para lograr que la calidad de los productos y/o servicios prestados por las organizaciones sea la adecuada, éstas recurren a la implantación de la norma ISO 9001</p>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 4 -->
                    <!-- Start details for portfolio project 5 -->
                    <div id="slidingDiv4" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <img src="images/Portfolio05.png" alt="project 5">
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Escalera Auto</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>Marca</span>Italiana</div>
                                    <div>
                                        <span>Medidas</span>155x135cm</div>
                                    <div>
                                        <span>Colores</span>Rojo, Azul y Verde</div>
                                    <div>
                                        <span>Pagina web</span>http://escaleras.com</div>
                                </div>
                                <p>Para lograr que la calidad de los productos y/o servicios prestados por las organizaciones sea la adecuada, éstas recurren a la implantación de la norma ISO 9001</p>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 5 -->
                    <!-- Start details for portfolio project 6 -->
                    <div id="slidingDiv5" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <img src="images/Portfolio06.png" alt="project 6">
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Escalera Phenomena</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>Marca</span>Italiana</div>
                                    <div>
                                        <span>Medidas</span>155x135cm</div>
                                    <div>
                                        <span>Colores</span>Rojo, Azul y Verde</div>
                                    <div>
                                        <span>Pagina web</span>http://escaleras.com</div>
                                </div>
                                <p>Para lograr que la calidad de los productos y/o servicios prestados por las organizaciones sea la adecuada, éstas recurren a la implantación de la norma ISO 9001</p>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 6 -->
                    <!-- Start details for portfolio project 7 -->
                    <div id="slidingDiv6" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <img src="images/Portfolio07.png" alt="project 7">
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Escalera Plus</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>Marca</span>Italiana</div>
                                    <div>
                                        <span>Medidas</span>155x135cm</div>
                                    <div>
                                        <span>Colores</span>Rojo, Azul y Verde</div>
                                    <div>
                                        <span>Pagina web</span>http://escaleras.com</div>
                                </div>
                                <p>Para lograr que la calidad de los productos y/o servicios prestados por las organizaciones sea la adecuada, éstas recurren a la implantación de la norma ISO 9001</p>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 7 -->
                    <!-- Start details for portfolio project 8 -->
                    <div id="slidingDiv7" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <img src="images/Portfolio08.png" alt="project 8">
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Escalera EN</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>Marca</span>Italiana</div>
                                    <div>
                                        <span>Medidas</span>155x135cm</div>
                                    <div>
                                        <span>Colores</span>Rojo, Azul y Verde</div>
                                    <div>
                                        <span>Pagina web</span>http://escaleras.com</div>
                                </div>
                                <p>Para lograr que la calidad de los productos y/o servicios prestados por las organizaciones sea la adecuada, éstas recurren a la implantación de la norma ISO 9001</p>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 8 -->
                    <!-- Start details for portfolio project 9 -->
                    <div id="slidingDiv8" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <img src="images/Portfolio09.png" alt="project 9">
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Escalera Simmetria</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>Marca</span>Italiana</div>
                                    <div>
                                        <span>Medidas</span>155x135cm</div>
                                    <div>
                                        <span>Colores</span>Rojo, Azul y Verde</div>
                                    <div>
                                        <span>Pagina web</span>http://escaleras.com</div>
                                </div>
                                <p>Para lograr que la calidad de los productos y/o servicios prestados por las organizaciones sea la adecuada, éstas recurren a la implantación de la norma ISO 9001</p>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 9 -->
                    <ul id="portfolio-grid" class="thumbnails row">
                        <li class="span4 mix web">
                            <div class="thumbnail">
                                <img src="images/Portfolio01.png" alt="project 1">
                                <a href="#single-project" class="more show_hide" rel="#slidingDiv">
                                    <i class="icon-plus"></i>
                                </a>
                                <h3>Escalera Dinamica 36</h3>
                                <p>115 cm x 120 cm</p>
                                <div class="mask"></div>
                            </div>
                        </li>
                        <li class="span4 mix photo">
                            <div class="thumbnail">
                                <img src="images/Portfolio02.png" alt="project 2">
                                <a href="#single-project" class="show_hide more" rel="#slidingDiv1">
                                    <i class="icon-plus"></i>
                                </a>
                                <h3>Escalera Dinamica 37</h3>
                                <p>135 cm x 120 cm.</p>
                                <div class="mask"></div>
                            </div>
                        </li>
                        <li class="span4 mix identity">
                            <div class="thumbnail">
                                <img src="images/Portfolio03.png" alt="project 3">
                                <a href="#single-project" class="more show_hide" rel="#slidingDiv2">
                                    <i class="icon-plus"></i>
                                </a>
                                <h3>Escalera Morpho</h3>
                                <p>115 cm x 150 cm</p>
                                <div class="mask"></div>
                            </div>
                        </li>
                        <li class="span4 mix web">
                            <div class="thumbnail">
                                <img src="images/Portfolio04.png" alt="project 4">
                                <a href="#single-project" class="show_hide more" rel="#slidingDiv3">
                                    <i class="icon-plus"></i>
                                </a>
                                <h3>Escalera Oniro</h3>
                                <p>135 cm x 120 cm.</p>
                                <div class="mask"></div>
                            </div>
                        </li>
                        <li class="span4 mix photo">
                            <div class="thumbnail">
                                <img src="images/Portfolio05.png" alt="project 5">
                                <a href="#single-project" class="show_hide more" rel="#slidingDiv4">
                                    <i class="icon-plus"></i>
                                </a>
                                <h3>Escalera Auto</h3>
                                <p>115 cm x 150 cm</p>
                                <div class="mask"></div>
                            </div>
                        </li>
                        <li class="span4 mix identity">
                            <div class="thumbnail">
                                <img src="images/Portfolio06.png" alt="project 6">
                                <a href="#single-project" class="show_hide more" rel="#slidingDiv5">
                                    <i class="icon-plus"></i>
                                </a>
                                <h3>Escalera Phenomena</h3>
                                <p>135 cm x 120 cm.</p>
                                <div class="mask"></div>
                            </div>
                        </li>
                        <li class="span4 mix web">
                            <div class="thumbnail">
                                <img src="images/Portfolio07.png" alt="project 7" />
                                <a href="#single-project" class="show_hide more" rel="#slidingDiv6">
                                    <i class="icon-plus"></i>
                                </a>
                                <h3>Escalera Plus</h3>
                                <p>155 cm x 160 cm.</p>
                                <div class="mask"></div>
                            </div>
                        </li>
                        <li class="span4 mix photo">
                            <div class="thumbnail">
                                <img src="images/Portfolio08.png" alt="project 8">
                                <a href="#single-project" class="show_hide more" rel="#slidingDiv7">
                                    <i class="icon-plus"></i>
                                </a>
                                <h3>Escalera EN</h3>
                                <p>135 cm x 120 cm.</p>
                                <div class="mask"></div>
                            </div>
                        </li>
                        <li class="span4 mix identity">
                            <div class="thumbnail">
                                <img src="images/Portfolio09.png" alt="project 9">
                                <a href="#single-project" class="show_hide more" rel="#slidingDiv8">
                                    <i class="icon-plus"></i>
                                </a>
                                <h3>Escalera Simmetria</h3>
                                <p>155 cm x 160 cm</p>
                                <div class="mask"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Portfolio section end -->
        <!-- About us section start -->
        <div class="section primary-section" id="about">
            <div class="triangle"></div>
            <div class="container">
                <div class="title">
                    <h1>NOSOTROS</h1>
                    <p>somos la empresa lider en venta de repuestros en la region</p>
                </div>
                <div class="row-fluid team">
                    <div class="span4" id="first-person">
                        <div class="thumbnail">
                            <img src="images/Team1.png" alt="team 1">
                            <h3>Repuestos</h3>
                          
                            <div class="mask">
                                <h2>Repuestos Importados</h2>
                                <p>Junto a estas tres opciones, se entrega al Cliente un informe en el que se plasman al detalle los tres proyectos y se le recomienda contratar el que más se ajusta a sus necesidades. El informe incluye la siguiente información</p>
                            </div>
                        </div>
                    </div>
                    <div class="span4" id="second-person">
                        <div class="thumbnail">
                            <img src="images/Team2.png" alt="team 1">
                            <h3>Escaleras</h3>
                            
                            <div class="mask">
                                <h2>Disctribuidor autorizado SICOS</h2>
                                <p>Presupuestos: Una vez contrastados los productos en distintas Compañías, se seleccionan tres proyectos según establece la Ley de mediación 26/2006, en los que se recogen las mejores opciones.</p>
                            </div>
                        </div>
                    </div>
                    <div class="span4" id="third-person">
                        <div class="thumbnail">
                            <img src="images/Team3.png" alt="team 1">
                            <h3>Autopartes</h3>
                            
                            <div class="mask">
                                <h2>Toyota y Diesel</h2>
                                <p>Que estamos dotados de la autorización administrativa de la DGS para desempeñar la actividad como Correduría.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-text centered">
                    <h3>Sobre nuestro servicio</h3>
                    <p>Nuestra forma de trabajar le asegura una atención personalizada y el mejor producto al mejor precio. Escuchamos tus inquietudes y estudiamos tus necesidades. Esto nos permitirá elaborar un estudio totalmente pormenorizado y a medida. Compañías</p>
                </div>
              
            </div>
        </div>
        <!-- About us section end -->
        <div class="section secondary-section">
            <div class="triangle"></div>
            <div class="container centered">
                <p class="large-text">La elegancia y la confianza en la simplesas, son todos nuestros proveedores.</p>
                <a href="#" class="button">CONTACTANOS YA</a>
            </div>
        </div>
        <!-- Client section start -->
        <!-- Client section start -->
        <div id="clients">
            <div class="section primary-section">
                <div class="triangle"></div>
                <div class="container">
                    <div class="title">
                        <h1>¿Que dicen Nuestros Clientes?</h1>
                        <p>Nuestros clientes satisfechos con nuestros repuestas y escaleras</p>
                    </div>
                    <div class="row">
                        <div class="span4">
                            <div class="testimonial">
                                <p>"Ha sido de mucha utilidad, la calidad es excelente lo recomiendo completamente"</p>
                                <div class="whopic">
                                    <div class="arrow"></div>
                                    <img src="images/Client1.png" class="centered" alt="client 1">
                                    <strong>Juan Quispe 
                                        <small>Yura</small>
                                    </strong>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="testimonial">
                                <p>"Escuchamos tus inquietudes y estudiamos tus necesidades. Esto nos permitirá elaborar un estudio totalmente pormenorizado y a medida."</p>
                                <div class="whopic">
                                    <div class="arrow"></div>
                                    <img src="images/Client2.png" class="centered" alt="client 2">
                                    <strong>Carlos Mamani
                                        <small>Toyota</small>
                                    </strong>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="testimonial">
                                <p>"Compañías: una vez elaborado este estudio, nos dirigimos a las Compañías con las que trabajamos para buscarte el producto que se adecua a tus necesidades y las coberturas específicas."</p>
                                <div class="whopic">
                                    <div class="arrow"></div>
                                    <img src="images/Client3.png" class="centered" alt="client 3">
                                    <strong>Edilberto Rodriguez
                                        <small>Michelin</small>
                                    </strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="testimonial-text">
                        "La perfección y la excelencia es nuestro lema, para nuestro servicio"
                    </p>
                </div>
            </div>
        </div>
        <div class="section third-section">
            <div class="container centered">
                <div class="sub-section">
                    <div class="title clearfix">
                        <div class="pull-left">
                            <h3>Nuestros Proveedores</h3>
                        </div>
                        <ul class="client-nav pull-right">
                            <li id="client-prev"></li>
                            <li id="client-next"></li>
                        </ul>
                    </div>
                    <ul class="row client-slider" id="clint-slider">
                        <li>
                            <a href="">
                                <img src="images/clients/ClientLogo01.png" alt="client logo 1">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="images/clients/ClientLogo02.png" alt="client logo 2">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="images/clients/ClientLogo03.png" alt="client logo 3">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="images/clients/ClientLogo04.png" alt="client logo 4">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="images/clients/ClientLogo05.png" alt="client logo 5">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="images/clients/ClientLogo02.png" alt="client logo 6">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="images/clients/ClientLogo04.png" alt="client logo 7">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Contact section start -->
        <div id="contact" class="contact">
            <div class="section secondary-section">
                <div class="container">
                    <div class="title">
                        <h1>UBICANOS</h1>
                        <p>Puedes encontrarnos en urb, lambramani A-15,al costado del estadio </p>
                    </div>
                </div>
                <div class="map-wrapper">
                    <div class="map-canvas" id="map-canvas">Cargando Mapa...</div>
                    <div class="container">
                       
                    </div>
                </div>
                <div class="container">
                    <div class="span9 center contact-info">
                        <p>Urbanizacion Lambramani A-15, al costado del estadio </p>
                        <p class="info-mail">sdpparts@somemail.com</p>
                        <p>+51 45 45 45</p>
                        <p>943 70 15 12</p>
                        <div class="title">
                            <h3>SDP SOLUCIONES DIESEL</h3>
                        </div>
                    </div>
                    <div class="row-fluid centered">
                        <ul class="social">
                            <li>
                                <a href="">
                                    <span class="icon-facebook-circled"></span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="icon-twitter-circled"></span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="icon-linkedin-circled"></span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="icon-pinterest-circled"></span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="icon-dribbble-circled"></span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="icon-gplus-circled"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact section edn -->
        <!-- Footer section start -->
        <div class="footer">
            <p>&copy; Desarrollado por: <a href="http://www.devaqpgroup.com">DEVAQP</a>, <a href="http://devaqpgroup.com">Visitanos</a></p>
        </div>
        <!-- Footer section end -->
        <!-- ScrollUp button start -->
        <div class="scrollup">
            <a href="#">
                <i class="icon-up-open"></i>
            </a>
        </div>
        <!-- ScrollUp button end -->
        <!-- Include javascript -->
        <script src="js/jquery.js"></script>
        <script type="text/javascript" src="js/jquery.mixitup.js"></script>
        <script type="text/javascript" src="js/bootstrap.js"></script>
        <script type="text/javascript" src="js/modernizr.custom.js"></script>
        <script type="text/javascript" src="js/jquery.bxslider.js"></script>
        <script type="text/javascript" src="js/jquery.cslider.js"></script>
        <script type="text/javascript" src="js/jquery.placeholder.js"></script>
        <script type="text/javascript" src="js/jquery.inview.js"></script>
        <!-- Load google maps api and call initializeMap function defined in app.js -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1AWOuARSiYX7cvIeZ2S8dh_dh3eSy0dA&amp;v=3.26&amp;callback=vueGoogleMapsInit" async="" defer=""></script>
        <script async="" defer="" type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&callback=initializeMap"></script>
        <!-- css3-mediaqueries.js for IE8 or older -->
        <!--[if lt IE 9]>
            <script src="js/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript" src="js/app.js"></script>
    </body>
</html>